.container {
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    position: sticky;
    top: 5rem;
    min-width: 25rem;
}

.fullWidth {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.halfWidth {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

@media screen and (max-width: 650px) {
    .halfWidth {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1028px) {
    .title {
        min-width: 15rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}


@media screen and (max-width: 900px) {
    .title {
        min-width: 9rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

}

@media screen and (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }
    .title{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}



