.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 5rem;
}

.title {

    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3rem;
    position: sticky;
    top: 5rem;
    min-width: 25rem;
}

.subTitle {
    white-space: nowrap;
    font-weight: 700;
    position: sticky;
    top: 5rem;
    min-width: 10rem;
}

.heading {
    font-size: 1.1rem;
    font-weight: 600
}

@media screen and (max-width: 1028px) {
    .title {
        min-width: 15rem;
        font-size: 1.8rem;
        line-height: 2.1rem;
    }
}


@media screen and (max-width: 900px) {
    .title {
        min-width: 9rem;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .subTitle {
        min-width: 8rem;
    }
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        gap: 2rem;
    }

    .title {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    .heading {
        font-size: 1rem;
    }
}


